# Supabase Configuration
EXPO_PUBLIC_SUPABASE_URL=your-project-url
EXPO_PUBLIC_SUPABASE_ANON_KEY=your-anon-key

# RevenueCat Configuration (for Subscriptions)
EXPO_PUBLIC_REVENUECAT_IOS_API_KEY=your-ios-api-key
EXPO_PUBLIC_REVENUECAT_ANDROID_API_KEY=your-android-api-key
EXPO_PUBLIC_REVENUECAT_TEST_API_KEY=your-test-api-key
